.parametres1{
    position: absolute;
    font-size:large;
    font-style: italic;
    background-clip: padding-box;
    box-shadow: 0 0 50px #ff6600;
    border: 0px;
    top:100px;
    left:100px;
    content: green;
}

.parametres2{
    position: absolute;
    padding: green;
    border: 0px;
    top:100px;
    left:400px;
}

.parametres3{
    position: absolute;
    padding: 50px green;
    border: 0px;
    top:100px;
    left:700px;
}



.headline{
    position:  absolute;
    top: 50 px;
    left: 300 px;

}