.flexbox{
    display: flex;
}

.parametres1{
    flex: 1;
    font-size:large;
    font-style: italic;
    margin: 50px;
}

.parametres2{
    flex: 2;
    padding: green;
    border: 0px;
    margin-right: 100px;

}

.parametres3{
    flex:3;
    padding: 50px green;
    margin-right: 50px;

}



.headline{
    position:  absolute;
    top: 50 px;
    left: 300 px;

}